* {
    font-family: Arial, sans-serif;
  
  }
  
  .container {
    width: 100%;
  }
  
  .loginScreen {
    position: relative;
    height: 100%;
    background: url("https://s3-us-west-2.amazonaws.com/techvibes/wp-content/uploads/2017/04/24135159/Netflix-Background.jpg") center no-repeat;
    background-size: cover;
  }
  
  .login_nav__logo {
    position: fixed;
    top: 15px;
    left: 0;
    cursor: pointer;
    width: 150px;
    object-fit: contain;
    padding-top: 6px;
    padding-left: 165px;
  }
  @media (max-width: 740px) {
    .login_nav__logo {
      padding-left: 50px; /* Adjust the left padding for smaller screens */
    }
  }


  .login_sign_in {
    cursor: pointer;
    font-size: 14px;
    font-weight: 1000;
    color: white;
    background-color: rgb(215, 39, 48);
    position: fixed;
    right: 170px;
    top: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 0.4vw;
  }

   
  
  .loginScreenGradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  
  .loginScreen-Body {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    padding: 20px;
    left:0;
  }
  
  .loginScreen-Body > h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 20px;
  }

 


.loginScreen-Body > h2 {
    color : #fff;
    font-size: 24px;
    margin-top: 16px;
    padding-bottom: 25px;
}
  
.loginScreen-Body > h3 {
    color: #fff;
    font-size:20px;
    height: 30px;
    padding-bottom: 20px;
}

.login-Input {
    margin-top: 15px;
    color: transparent;
}

.login-Input > form > input{
    background-color:light transparent;
    color:black;
    font-size: 18px;
    border: 1px solid #888; /* Add a 1px grey border */
    padding: 1.25rem; /* Adjust padding to your liking */
    border-radius: 20;


    padding-right: 8rem;
    padding-left: 1rem;
    padding-bottom: .9rem;
    padding-top: 1rem;
    
    max-width: 600px;
}

/* Style the input when it's focused */
.login-Input > form > input:focus {
    border-color: #888;
    border-radius: 8px;
}



.login_getStarted{
    margin-left: 5px;
    cursor: pointer;
    background-color: rgb(215, 39, 48); ;
    margin-right: 15px;
    padding: 15px 40px;


    border:none;
    border-radius: 4px;
    font-size: 20px;
    color:#fff;
    font-weight: 900;
}


@media (max-width: 740px) {
    .login_sign_in {
      right: 50px; /* Adjust the left padding for smaller screens */
    }
    .loginScreen-Body > h1 {
        font-size:2rem;
    }
    .login_nav__logo{
        right: 40px

    }
    .login_getStarted {
        margin-top: 17px;

    }
  }