.Banner{
    position: relative;
    height: 700px;
    color: white;
    object-fit: contain;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 240px;
    height: 190px;
}
.banner_title{
    font-family: Arial, sans-serif; 
    font-size: 2.5rem;
    font-weight: 800; /*This is the thickness of the Font */
    padding-bottom: 0.3rem; /*This spaces the bottom of the Title Text */
}
.banner_description{
     width: 40rem;
     font-weight: 520;
     line-height: 1.3;
     padding-top: 1.5rem;
     font-size: 1.1vw;
     max-width: 330px;
     height: 80px;
     padding-bottom: 10px;

}
.banner--fade{ /*this basically adds the gradient fade at the bottom of the image */
    height: 17.77rem;
    background-image: linear-gradient(
        180deg, 
        transparent, 
        rgba(37, 37, 37, 0.61), 
        #111
    );
}

.banner_button{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    font-weight: 725;
    border-radius: 0.4vw; /* Makes the button slightly curved */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem; /* Makes the button spaced out */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 150px; /* Set the width to match .play_button */
    height: 40px; /* Set the height to match .play_button */
    background-color: rgba(51, 51, 51, 0.5);
  
}

.play_button{
    cursor: pointer; 
     color: #000000;
     font-size: 16px;
     outline: none; 
     border: none;
     font-weight: 725; 
     border-radius: 0.3vw; /* Makes the button slightly curved */
     padding-left: 0.5rem ; 
     padding-right: 0.5rem;
     margin-right: 0.61rem;  /* Makes the button spaced out */
     padding-top: 0.5rem; 
     padding-bottom: 0.5rem; 
     width: 110px; /* Set the width to 129px */
     height: 40px; /* Set the height to 54px */
     background-color: rgb(255, 255, 255); 

}
.play_button:hover{
    color: #000000;
    background-color: #e1e1e1b3;
}

.banner_button:hover{ /*When you hover it will change the colors and then make it a differnet shade*/
    color: rgb(255, 255, 255);
    background-color: rgba(81, 80, 80, 0.5);;
    transition: all 0.2s;
}