/* Base Styles */
* {
    font-family: Arial, sans-serif;
}

/* Row and Text Styles */
.row {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

/* Scroll Bar & Overflow */
.rowPosters {
    display: flex;
    overflow-x: scroll;
    padding-top: 15px;
    padding-bottom: 30px;
    position: relative;
}

.rowPosters::-webkit-scrollbar {
    display: none;
}

/* Poster Styles */
.row__poster,
.row__posterLarge {
    object-fit: contain;
    margin-right: 10px;
    width: auto;
    transition: transform 450ms, opacity 0.3s;
    border-radius: 5px;
}

.row__poster {
    height: 125px;
}

.row__posterLarge {
    height: 200px;
}


.MovieTitle{

    padding-top: 10px;
}
/* Hover Effects for Posters */
.row__poster:hover,
.row__posterLarge:hover {
    transform: scale(1.12);
    border-radius: 9px;
    opacity: 1;
}

/* Preview Modal */
.previewModal--container {
    /* To match the size of small posters */
    width: auto;
    height: 85px;
    text-align: center;
    font-size: 10px;

    /* Layout & Spacing */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.previewModal--containerLarge {
    height: 100px;
}
.PlayButton{
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    border:none;
   
}

.addtolist{
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    font-weight: 300;
}

.previewModal--buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Button Styles */
.PlayButton, .addtolist {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlayButton:hover, .addtolist:hover {

    background-color: rgb(191, 191, 191);
    transition: .3s;

}