* {
    font-family: Arial, sans-serif;
}

.row {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.rowPosters {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.rowPosters::-webkit-scrollbar {
    display: none;
}

.posterContainer {
    position: relative;
    display: inline-block;
    z-index: 2;
    overflow: visible;
}

.row__poster,
.row__posterLarge {
    height: 125px;
    object-fit: contain;
    margin-right: 10px;
    width: auto;
    transition: transform 450ms, opacity 0.3s;
    border-radius: 5px;
    z-index: 2;
}

.row__posterLarge {
    height: 200px;
}

.row__poster:hover,
.row__posterLarge:hover {
    transform: scale(1.12);
    border-radius: 9px;
    opacity: 1;
    z-index: 3;
}

.MovieTitle {
    padding-top: 20px;
}

.previewModal--container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
    z-index: 999999;
    pointer-events: none; /* to disable any interaction with this element when it's hidden */
}

.posterContainer:hover .previewModal--container {
    opacity: 1;
    pointer-events: auto; /* to enable interaction with this element */
}

.posterContainer:hover {
    z-index: 5; /* This ensures that the hovered item is above the other items in terms of stacking order */
}
